html {
    background-color: rgb(32,32,32);
}

#data {
    color: rgb(239,239,239);
}

ul {
    background-color:#232b2b;
    margin-left: 0;
}

ul li a {
    color : lightgray;
}

ul li a:hover {
    color : black;
}

.wfData {
    display: none;
}

.wfData div a {
    color: rgb(51, 122, 200);
}

#scroll {
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 40%;
    z-index: 99; /* Make sure it does not overlap */
}